<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (locals.user !=undefined) { %>
            <%- include('./partials/headerLog') %>
            <% } else { %>
                <%- include('./partials/header') %>
            <% } %>
            <main>
                <div class="post-detail container">
                    <% if (idPost < 0) { %>
                        <h2 class="sin-resultados">No hay resultados para ese id. Por favor eliia otro</h2>
                    <% } else{ %>
                            <section class="center main-content post">
                                <div class="info-usuario">
                                    <img class="profile" src="<%= usuario.fotoPerfil %>" alt="Foto de perfil"> 
                                    <p><a href="/usuarios/detalleUsuario/id/<%= usuario.id %>"><%= usuario.nombre %></a></p>
                                    <% if (locals.user !=undefined && usuario.id == user.id) { %>
                                        <div class="contenedor-trash">
                                            <a href="/posts/deletePost/id/<%= idPost %>"><i class="fa-regular fa-trash-can fa-xl" style="color: #ffffff;"></i></a>
                                            <a href="/posts/editPost/id/<%= idPost %>"><i class="fa-regular fa-pen-to-square fa-xl" style="color: #ffffff;"></i></a></div>
                                    <% } %> 
                                </div>
                                <img class="photo" src="<%= posteo.nombreImg %>" alt="Foto del posteo">
                            </section>
                            <section class="right">
                                <h4 class="titulo-form">Comentarios</h4>
                                <section class="comments">
       <!--form sin action ni method--> <form action="" class="comment-form">
                                        <input type="text" class="input" placeholder="Agregar comentario">
                                        <button type="submit">Comentar</button>
                                    </form>
                                    <div>
                                        <% for( let i=0; i < posteo.posteoComentario.length; i++ ) { %>
                                        <article class="comment">
                                            <img class = "profile" src="<%= posteo.posteoComentario[i].comentarioUsuario.fotoPerfil %>" alt="<%= posteo.posteoComentario[i].comentarioUsuario.nombre %>">
                                            <section class="content">
                                                <a class="user" href="/usuarios/detalleUsuario/id/<%= posteo.posteoComentario[i].comentarioUsuario.id %>"><%= posteo.posteoComentario[i].comentarioUsuario.nombre%></a>
                                                <span class="text"><%= posteo.posteoComentario[i].textoComment %></span>
                                            </section>
                                        </article>
                                        <% } %>
                                    </div>
                                </section>
                            </section>
                            <% } %>
                </div>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>