<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <div class="user-detail container">
                    <% for( let i=0; i < usuario.length; i++ ) { %>
                        <% if (i+1==idUsuario) { %>
                            <section class="top main-content">
                                <img class="profile" src="<%= usuario[i].fotoPerfil %>" alt="">
                                <div class="info-usuario">
                                    <p>
                                        <%= usuario[i].email %>
                                    </p>
                                    <a class="follow" href="">seguir</a>
                                    <ul class="meta">
                                        <li>100 post</li>
                                        <li>200 seguidores</li>
                                        <li>300 seguidos</li>
                                    </ul>
                                </div>
                            </section>
                            <section class="bottom">
                                <% for( let j=0; j < posteos.length; j++ ) { %>
                                    <% if (posteos[j].idUsuario==idUsuario) { %>
                                        <article class="post">
                                            <a href="/posts/detalle/id/<%= posteos[j].id %>">
                                                <img src="<%= posteos[j].nombreImg %>" alt="">
                                            </a>
                                        </article>
                                        <% } %>
                                            <% } %>
                            </section>
                            <% } %>
                                <% } %>

                </div>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>