<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <div class="post-detail container">
                    <% for( let i=0; i < posteos.length; i++ ) { %>
                        <% if (i+1==idPost) { %>
                            <section class="center main-content post">
                                <div class="info-usuario">
                                    <img class="profile" src="<%= posteos[i].fotoPerfil %>" alt=""> <!-- le agregamos la clase profile -->
                                    <p><a href="/usuarios/detalleUsuario/id/<%= posteos[i].idUsuario %>"><%= posteos[i].nombreUsuario %></a></p>
                                </div>
                                <img class="photo" src="<%= posteos[i].nombreImg %>" alt="">
                            </section>
                            <section class="right">
                                <h4>Comentarios</h4>
                                <section class="comments">
                                    <form action="" class="comment-form">
                                        <input type="text" class="input" placeholder="Agregar comentario">
                                        <button type="submit">Comentar</button>
                                    </form>
                                    <div>
                                        <% for( let j=0; j < posteos[i].comentarios.length; j++ ) { %>
                                        <article class="comment">
                                            <img class = "profile" src="<%= posteos[i].comentarios[j].fotoPerfil %>" alt="<%= posteos[i].nombreUsuario %>">
                                            <section class="content">
                                                <a class="user" href="/usuarios/detalleUsuario/id/<%= posteos[i].comentarios[j].idUsuario %>"><%= posteos[i].comentarios[j].nombre%></a>
                                                <span class="text"><%= posteos[i].comentarios[j].textoComment %></span>
                                            </section>
                                        </article>
                                        <% } %>
                                    </div>
                                </section>
                            </section>
                            <% } %>
                                <% } %>

                </div>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>