<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (locals.user !=undefined) { %>
            <%- include('./partials/headerLog') %>
            <% } else { %>
                <%- include('./partials/header') %>
            <% } %>
            <main>
                <% if (idUsuario<0) { %>
                    <h2 class="sin-resultados">No hay resultados para ese id. Por favor eliia otro</h2>
                    <% } else {%>
                        <div class="user-detail container">
                            <section class="top main-content">
                                <img class="profile" src="<%= usuario.fotoPerfil %>" alt="Foto de perfil">
                                <div class="info-usuario info-usuario-color">
                                    <p>
                                        <%= usuario.nombre %>
                                    </p>
                                    <a class="follow" href="">seguir</a>
                                    <ul class="meta">
                                        <li>100 post</li>
                                        <li>200 seguidores</li>
                                        <li>300 seguidos</li>
                                    </ul>
                                </div>
                            </section>
                            <section class="bottom">
                                <% for( let i=0; i < posteos.length; i++ ) { %>
                                        <article class="post">
                                            <a href="/posts/detalle/id/<%= posteos[i].id %>">
                                                <img src="<%= posteos[i].nombreImg %>" alt="Posteo">
                                            </a>
                                        </article>
                                            <% } %>
                            </section>
                        </div>
                        <% } %>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>