<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <section class="center main-content">
                    <% for( let i=0; i < posteos.length; i++ ) { %>
                        <article class="post">
                            <div class="info-usuario ">
                                <img class="profile" src="<%= posteos[i].fotoPerfil %>" alt="<%= posteos[i].nombreUsuario %>">
                                <h4>
                                    <a href="/usuarios/detalleUsuario/id/<%= posteos[i].idUsuario %>">
                                        <%= posteos[i].nombreUsuario %>
                                    </a>
                                </h4>
                            </div>
                            <div class="post-body">
                                        <a href="/posts/detalle/id/<%= posteos[i].id %>">
                                            <img src="<%= posteos[i].nombreImg %>" alt="">
                                        </a>
                            </div>
                            <ul class="post-reacciones">
                                <li>
                                    <i class="fa-regular fa-heart"></i>
                                </li>
                                <li>
                                    <i class="fa-regular fa-comment"></i>
                                </li>
                            </ul>
                            <div class="post-comentarios">
                                <h4>Comentarios</h4>
                                <ul>
                                    <% for( let j=0; j < posteos[i].comentarios.length; j++ ) { %>
                                        <li><a
                                                href="/usuarios/detalleUsuario/id/<%= posteos[i].comentarios[j].idUsuario %>">
                                                <%= posteos[j].comentarios[j].nombreUsuario%>
                                            </a>
                                            <span>
                                                <%= posteos[i].comentarios[j].textoComment %>
                                            </span>
                                        </li>
                                        <a href="/posts/detalle/id/<%= posteos[i].comentarios[j].idPost %>">Ver
                                            más...</a>
                                        <% } %>
                                </ul>
                            </div>
                        </article>
                        <% } %>
                </section>
            </main>

            <%- include('./partials/footer') %>

    </body>

</html>