<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="/img/juan.png" alt="">
                <div class="info-usuario">
                    <p><%= usuario[0].nombre %></p> 
                    <a class="follow" href="/usuarios/editarMiPerfil/id/<%= usuario[0].id %>"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li>100 post</li>
                        <li>200 seguidores</li>
                        <li>300 seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <% for( let i = 0; i < 2; i++ ) { %>
                    <article class="post">
                        <a href="/posts/detalle/id/<%= posteos[i].id %>">
                            <img src="<%= posteos[i].nombreImg %>" alt="">
                        </a>
                    </article>
                <% } %>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>