<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerLog') %>

    <main class="main-mi-perfil-usuario">
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="/img/juan.png" alt="foto de perfil">
                <div class="info-usuario info-usuario-color">
<!-- name: infoForm.nombre,
     email: infoForm.email,
      pass: bcrypt.hashSync(infoForm.pass,10),
      fotoPerfil: infoForm.fotoPerfil,
      fechaNacimiento: infoForm.fecha,
      dni: infoForm.dni,
      rembember_token: 'false'-->
                    <p><%=user.name%></p> 
                    <a class="follow" href="/usuarios/editarMiPerfil/id/<%= user.id %>"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li>100 post</li>
                        <li>200 seguidores</li>
                        <li>300 seguidos</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <main class="main-mi-perfil">
        <section class="center main-content">
            <% for( let i=0; i < 2; i++ ) { %>
                <article class="post">
                    <div class="info-usuario ">
                        <img class="profile" src="<%= posteos[i].fotoPerfil %>"
                            alt="<%= posteos[i].nombreUsuario %>">
                        <h4>
                            <a href="/usuarios/detalleUsuario/id/<%= posteos[i].idUsuario %>">
                                <%= posteos[i].nombreUsuario %>
                            </a>
                        </h4>
                    </div>
                    <div class="post-body">
                        <a href="/posts/detalle/id/<%= posteos[i].id %>">
                            <img src="<%= posteos[i].nombreImg %>" alt="posteo">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    <div class="post-comentarios">
                        <span class="caption-posteo">
                            <h3 class="usuario-caption">
                                <%= posteos[i].nombreUsuario %>
                            </h3>
                            <p>
                                <%= posteos[i].textoPost %>
                            </p>
                        </span>

                        <h4>Comentarios</h4>
                        <ul>
                            <% for( let j=0; j < 2; j++ ) { %>
                                <li><a
                                        href="/usuarios/detalleUsuario/id/<%= posteos[i].comentarios[j].idUsuario %>">
                                        <%= posteos[i].comentarios[j].nombre%>
                                    </a>
                                    <span>
                                        <%= posteos[i].comentarios[j].textoComment %>
                                    </span>
                                </li>
                                <% } %>
                                    <a href="/posts/detalle/id/<%= posteos[i].id %>">Ver
                                        más...</a>
                        </ul>
                    </div>
                </article>
                <% } %>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>
